* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading1 {
  padding: 1rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    5deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(5, 16, 98, 1) 0%,
    rgba(124, 127, 255, 1) 100%
  );
  border: 6px solid black;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Fredoka One", cursive;
}

.col-md-5 {
  text-align: center;
}

.col-xl-7 li {
  font-size: 16px;
}
